.header {
    margin-top: 60px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lora', serif;
        color: #444;
        &__sm {
            position: absolute;
            top: 11%;
            font-size: 42px;
        }
        &__lg {
            position: absolute;
            top: 15.5%;
            font-size: 120px;
        }
    }
    &__image {
        width: 100%;
        height: 500px;
        margin-top: 80px;
        background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        object-fit: cover;
        background-size: cover;
        background-attachment: fixed;
    }
}