.header {
    margin-top: 60px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lora', serif;
        color: #444;
        &__sm {
            position: absolute;
            top: 11%;
            font-size: 42px;
        }
        &__lg {
            position: absolute;
            top: 15.5%;
            font-size: 120px;
        }
    }
    &__image {
        width: 100%;
        height: 500px;
        margin-top: 80px;
        object-fit: cover;
    }
}